<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>L&apos;application LazherMe va utiliser ton bluetooth le s</string>
	<key>CLIENT_ID</key>
	<string>328087577075-iu90e4gh0f0kimmigelnpfqnqhs6rd2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328087577075-iu90e4gh0f0kimmigelnpfqnqhs6rd2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCjZRRAqBwSjerhm2Snr3s2nXcvaLefzAk</string>
	<key>GCM_SENDER_ID</key>
	<string>328087577075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.isen.LazherMeApp</string>
	<key>PROJECT_ID</key>
	<string>isen-lazherme</string>
	<key>STORAGE_BUCKET</key>
	<string>isen-lazherme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:328087577075:ios:8caf492ff7f17c63497286</string>
</dict>
</plist>
